@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

:root{
    --cor00: #181818;
    --cor0: #141414;
    --cor1: #3D7180;
    --cor2: #86E3FD;

    --fonte1: 'Bebas Neue', 'cursive';
    --fonte2: 'Sarala', 'sans-serif';
    --fonte3: 'Inter', 'sans-serif';
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Cabeçalho*/

header{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background: black;
}

.img-cabecalho{
    width: 100px;
    height: 80px;
    padding-right: 10px;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 150px;
}

.menu-items{
    color: white;
    font-family: var(--fonte2);
    font-size: 1.2em;
    padding: 15px;
    text-decoration: none;
    transition: all .3s ease-in-out
}

.menu-items:hover{
    color: var(--cor2);
}

/*Principal*/

.principal{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background: var(--cor0);
    padding-top: 100px;
}

.texto-principal{
    margin: 150px;
    margin-right: 0px;
}

.texto-ola{
    font-family: var(--fonte2);
    font-size: 2em;
    color: white;
}

.texto-nome{
    font-family: var(--fonte1);
    font-size: 4em;
    color: white;
}

.texto-profissao{
    border-right: 2px solid var(--cor2);
    font-family: var(--fonte1);
    font-size: 2em;
    color: var(--cor2);
    
    white-space: nowrap;
    overflow: hidden;
}

.typing-animation {
    animation: blinkCursor 500ms steps(40) infinite normal, typing 2s steps(40) 1s normal both;
}

@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 9em;
    }
}

@keyframes blinkCursor {
    from{
        border-right: 2px solid var(--cor2);
    }
    to{
        border-right: transparent;
    }
}

.linkedin{
    border: 2px solid #11343d;
    border-radius: 20px;
    padding: 10px;
    margin-top: 15px;
    transition: transform .5s ease;
    display: flex;
    flex-direction: row;
    width: 170px;
}

.linkedin:hover{
    color: var(--cor2);
    transform: scale(1.0);
    background: #86e3fd13;
}

#linkedin-icone{
    color: var(--cor2);
    font-size: 1.2em;
    padding-right: 15px;
    padding-left: 15px;
}

#linkedin-icone:hover{
    color: var(--cor2);
    transform: scale(1.0);
}

.imagem-principal{
    width: 600px;
    height: 600px;
    margin-bottom: 100px;
    margin-top: 50px;
}

/*Sobre Mim*/

.sobre-mim{
    background: var(--cor00);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
}

.img-sobre-mim{
    padding: 100px;
    margin-left: 100px;
}

.titulo-sobre-mim{
    color: white;
    font-family: var(--fonte1);
    font-size: 3em;
    padding-bottom: 50px;
}

.texto-sobre-mim{
    color: white;
    font-family: var(--fonte2);
    margin-right: 300px;
    padding-bottom: 50px;
}

.curriculo{
    border: 2px solid var(--cor2);
    border-radius: 20px;
    padding: 15px;
    width: 150px;
}

.curriculo:hover{
    background: #86e3fd13;
}

.link{
    text-decoration: none;
    color: var(--cor2);
    font-family: var(--fonte2);
    font-size: 1.2em;
}

/* Habilidades */

.habilidades {
    background: #141414;
    padding: 100px;
}

.titulo-habilidades {
    color: white;
    font-family: var(--fonte1);
    font-size: 4em;
    text-align: center;
    padding-bottom: 10px;
}

.conhecimentos {
    color: white;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.HTML {
    background: #181818;
    border-radius: 10px;
    text-align: justify;
    padding: 20px;
    width: 450px;
    height: 350px;
    border: 2px solid #e54c21;
    transition: transform .5s ease;
}

.html-imagem {
    width: 75px;
    padding: 20px;
}

.html-titulo {
    font-family: var(--fonte1);
    font-size: 30px;
    padding: 20px;
    padding-top: 0px;
}

.html-texto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px;
    text-align: left;
}

.HTML:hover {
    transform: scale(1.1);
    box-shadow: #e54b2159;

}

.css {
    background: #181818;
    border-radius: 10px;
    text-align: justify;
    padding: 20px;
    width: 450px;
    height: 350px;
    border: 2px solid #0170BA;
    transition: transform .5s ease;
}

.css-imagem {
    width: 85px;
    padding: 20px;
}

.css-titulo {
    font-family: var(--fonte1);
    font-size: 30px;
    padding: 20px;
    padding-top: 0px;
}

.css-texto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px;
    text-align: left;
}

.css:hover {
    transform: scale(1.1);
}

.js {
    background: #181818;
    border-radius: 10px;
    text-align: justify;
    padding: 20px;
    width: 450px;
    height: 350px;
    border: 2px solid #F7E018;
    transition: transform .5s ease;
}

.js-imagem {
    width: 100px;
    padding: 20px;
}

.js-titulo {
    font-family: var(--fonte1);
    font-size: 30px;
    padding: 20px;
    padding-top: 0px;
}

.js-texto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px;
    text-align: left;
}

.js:hover {
    transform: scale(1.1);
}

/*Projetos*/

.projetos{
    background: var(--cor00);
    padding-bottom: 100px;
}

.titulo-projetos{
    color: white;
    font-family: var(--fonte1);
    font-size: 4em;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.projetos-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    margin-bottom: 5rem;
    margin: 200px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 100px;
  }

  .projeto{
      background: var(--cor0);
      border-radius: 20px;
  }

  .projeto-img{
      width: 550px;
      height: 205px;
      border-radius: 25px 25px 0px 0px;
      width: 100%;
      transition: transform .5s ease;
  }

  .projeto-img:hover{
    transform: scale(1.1);
    border-radius: 25px;
  }

  .titulo-projeto{
      color: white;
      font-family: var(--fonte1);
      font-size: 2em;
      padding-top: 15px;
      padding-bottom: 25px;
      padding-left: 10px;
  }

  .descricao-projeto{
      color: white;
      font-size: var(--fonte2);
      font-size: 1.2em;
      padding-left: 10px;
  }

  .icones{
    display: flex;
    padding-top: 25px;
    font-size: 2em;
    gap: 20px;
    align-items: center;
    padding-left: 10px;
  }

  .git {
    color: white;
    transition: 0.5s;
}

  .git:hover{
    color: var(--cor2);
    transform: scale(110%);
}

.link{
    color: white;
    transition: 0.5s;
}

.link:hover{
    color: var(--cor2);
    transform: scale(110%);
}

.tag-linguagens {
    color: white;
    display: flex;
    float: inline-start;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
}

.tag-html {
    font-family: var(--fonte2);
    background: #e54b2183;
    padding: 2px 10px;
    border: 2px solid #e54c21;
    margin: 10px;
    margin-left: 0px;
    border-radius: 20px;
}

.tag-css {
    font-family: var(--fonte2);
    background: #0170ba6e;
    padding: 2px 10px;
    border: 2px solid #0170BA;
    margin: 10px;
    border-radius: 20px;
}

.tag-js {
    font-family: var(--fonte2);
    background: #f7e11880;
    padding: 2px 10px;
    border: 2px solid #F7E018;
    margin: 10px;
    border-radius: 20px;
}

/*Contato*/

.contato{
    background: #141414;
}

.contato-titulo{
    color: white;
    font-family: var(--fonte1);
    font-size: 3em;
    text-align: center;
    padding-top: 100px;
}

.contato-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;    
}

.contato-esquerda{
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.contato-esquerda1{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    align-items: center;
    
}

.contato-img{
    width: 200px;
    height: 200px;
    margin-left: 200px;
}

.contato-escrito{
    color: white;
    font-family: var(--fonte2);
}

.contato-h2{
    font-size: 2em;
    padding-bottom: 30px;
}

.contato-instagram{
    padding-left: 250px;
    padding-top: 100px;
    padding-bottom: 10px;
    font-size: 1.5em;
    font-family: var(--fonte2);
}

.instagram{
    font-family: var(--fonte2);
    color: white;
    text-decoration: none;
    padding-right: 10px;
}

#instagram{
    color: white;
    padding-right: 10px;
}

.instagram:hover{
    color: var(--cor2);
    text-decoration: underline;
}

#instagram:hover{
    color: var(--cor2);
}

.contato-whatsapp{
    padding-left: 250px;
    padding-bottom: 10px;
    font-size: 1.5em;
    font-family: var(--fonte2);
}

.whatsapp{
    font-family: var(--fonte2);
    color: white;
    text-decoration: none;
    padding-right: 10px;
}

#whatsapp{
    color: white;
    padding-right: 10px;
}

.whatsapp:hover{
    color: var(--cor2);
    text-decoration: underline;
}

#whatsapp:hover{
    color: var(--cor2);
}

.form{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-right: 200px;
}

.field{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 10px;
}

.field2{
    padding: 80px;
    padding-top: 5px;
    padding-left: 5px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 10px;
}

.field3{
    font-family: var(--fonte2);
    background-color: #86E3FD;
    border-radius: 10px;
}

.rodape{
    background: var(--cor00);
    height: 50px;
    text-align: center;
    padding: 15px;
}

.texto-rodape{
    color: white;
    font-family: var(--fonte2);
    font-size: 1.2em;
}

.nome-rodape{
    color: var(--cor2);
}

::-webkit-scrollbar {
    width:10px;
    height: 10px;
    }

::-webkit-scrollbar-track {
    background: #333;
    }

::-webkit-scrollbar-thumb {
    background: var(--cor2);
    }

    @media (max-width: 1450px){
        .img-sobre-mim{
            margin-left: 0px;
        }

        .texto-sobre-mim{
            margin-right: 0px;
        }

        /*Conhecimentos*/

        .conhecimentos{
            padding-left: 0px;
            padding-right: 0px;
        }

        .html-texto{
            font-size: 1.2em;
            padding: 15px;
        }

        /*Projetos*/

        .titulo-projetos{
            padding-bottom: 0px;
        }

        .projetos-grid{
            margin: 100px;
        }
    }

    @media (max-width: 1325px){
        /*Cabeçalho*/
        .img-cabecalho {
            width: 90px;
            height: 70px;
            padding-right: 10px;
        }

        .menu-items {
            font-size: 1em;
        }

        /*Principal*/

        .texto-ola {
            font-size: 1.5em;
        }

        .texto-nome{
            font-size: 2.5em;
        }

        .texto-profissao{
            font-size: 1.5em;
        }

        .linkedin{
            width: 150px;
        }

        .link{
            font-size: 1em;
        }
        
        .imagem-principal {
            width: 400px;
            height: 400px;
        }

        /*Sobre Mim*/

        .img-sobre-mim{
            margin-left: 0px;
            padding: 50px;
        }

        .img-sobre-mim-edit{
            width: 300px;
        }

        .titulo-sobre-mim{
            font-size: 2em;
            padding-bottom: 30px;
        }

        .texto-sobre-mim{
            margin-right: 0px;
            padding-bottom: 30px;
        }

        .curriculo{
            width: 130px;
        }

        /*Habilidades*/

        .habilidades{
            padding: 50px;
        }

        .titulo-habilidades{
            font-size: 3em;
        }

        .conhecimentos{
            padding-left: 0px;
            padding-right: 0px;
        }

        .HTML{
            width: 400px;
            height: 370px;
        }

        .html-texto{
            font-size: 1em;
        }

        .css{
            width: 400px;
            height: 370px;
        }

        .css-texto{
            font-size: 1em;
        }

        .js{
            width: 400px;
            height: 370px;
        }

        .js-texto{
            font-size: 1em;
        }

        /*Projetos*/

        .titulo-projetos{
            font-size: 3em;
            padding-top: 50px;
        }

        .projetos-grid{
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding-bottom: 50px;
        }

        /*Contato*/

        .contato-titulo{
            padding-top: 50px;
        }

        .contato-grid{
            display: flex;
        }

        .contato-esquerda1{
            margin-top: 50px;
        }

        .contato-img{
            margin-left: 50px;
        }

        .contato-h2{
            font-size: 1.5em;
        }

        .contato-instagram{
            padding-top: 10px;
        }
    }

    @media (max-width: 950px){
        /*Conhecimento*/

        .conhecimentos{
            display: flex;
            flex-direction: column;
        }

        .HTML{
            height: 300px;
        }

        .css{
            height: 300px;
        }

        .js{
            height: 300px;
        }

        /*Contato*/

        .contato-escrito{
            padding-right: 50px;
        }
    }

    @media (max-width: 850px){
        .sobre-mim{
            flex-direction: column;
        }
    }

    @media (max-width: 776px){
        .texto-principal{
            margin: auto;
            margin-top: 150px;
            margin-bottom: 150px;
        }

        .imagem-principal{
            display: none;
        }

        .titulo-sobre-mim{
            text-align: center;
        }

        .curriculo{
            margin: auto;
        }

        .projetos-grid{
            margin: 50px;
        }

        .contato-esquerda1{
            flex-direction: column;
        }

        .contato-img{
            margin: auto;
        }

        .contato-escrito{
            text-align: center;
            padding: 50px;
        }

        .contato-instagram{
            padding-left: 50px;
        }

        .contato-whatsapp{
            padding-left: 50px;
        }
    }